<mat-toolbar color="primary" class="navbar">
  <div class="navbar-container">
    <!-- Logo on far left -->
    <div class="logo-section">
      <a routerLink="/map" class="logo-link">
        <img src="assets/SkyImpactLogo.png" alt="SkyImpact Logo" class="logo">
      </a>
    </div>

    <!-- Navigation Links -->
    <div class="nav-links">
      <a mat-button routerLink="/map" routerLinkActive="active-link" class="nav-button">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-button routerLink="/about" routerLinkActive="active-link" class="nav-button">
        <mat-icon>info</mat-icon>
        About Us
      </a>
    </div>
  </div>
</mat-toolbar>