<mat-card class="footer-card" appearance="outlined">
  <mat-card-content>
    <div class="footer-header">footer</div>

    <div class="footer-body">
      <div class="footer-left">
        <p class="footer-heading">Check Our Code:</p>
        <p>Esta aplicación forma parte del proyecto de hackaton</p>

        <div class="footer-copy">
          <span class="copy-symbol">©</span>
          <span>CopyRight</span>
        </div>
      </div>

      <div class="footer-right">
      <a
          mat-button
          color="primary"
          href="https://github.com/Leoyalta/SkyImpact-front.git"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
          <span>GitHub Repository</span>
        </a>
        <a
          mat-button
          color="primary"
          href="https://www.barcelonactiva.cat"
          target="_blank"
          rel="noopener noreferrer"
        >
          💎 Barcelona Activa
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
